html, body {
  position: absolute;
  margin: 0px;
  overflow: hidden;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 500px;
  margin: auto;
  background-color: transparent;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-image: url("imgs/slider.png");
  height: 52px;
}
input[type="range"]::-moz-range-track {
  background-image: url("imgs/slider.png");
  height: 52px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 48px;
  width: 68px;
  background-image: url("imgs/thumb.png");
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  height: 48px;
  width: 68px;
  background-image: url("imgs/thumb.png");
  cursor: pointer;
}